$auth-form-width: 400px;

.auth-form {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $dark-color;

    .auth-form-container {
        width: $auth-form-width;

        .form-group, .form-group .form-control {
            color: white;
        }
    }

    @media (max-width: $auth-form-width) {
        .auth-form-container {
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
        }
    }
}
