.button {
    background-color: $light-color;

    &:focus {
        outline: none;
    }

    &.button-block {
        display: block;
        width: 100%;
    }

    &.button-round {
        border-radius: 50px;
    }
}
