header.top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: $nav-height;
    background-color: $dark-color;
    display: flex;
    justify-content: space-between;

    .logo {
        background-color: darken($dark-color, 10%);
        width: $logo-width;
        height: $nav-height;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            line-height: 0.7;

            img {
                opacity: 0.6;
                height: ($nav-height - 20px);

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .navigation {
        display: flex;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                padding: 0 ($nav-link-space-between/2);
                display: flex;
                align-items: flex-start;
                list-style: none;
                line-height: 1.2;

                &:not(:last-child) {
                    border-right: $nav-link 1px solid;
                }

                a {
                    color: $nav-link;

                    &:active, &.active {
                        color: $nav-link-active;
                    }

                    &:hover {
                        color: $nav-link-hover;
                    }
                }
            }
        }
    }

    .user-navigation {
        display: flex;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                padding: 0 ($nav-link-space-between/2);
                display: flex;
                align-items: flex-end;
                list-style: none;
                line-height: 1.2;

                a {
                    color: $nav-link;
                    
                    &:active, &.active {
                        color: $nav-link-active;
                    }

                    &:hover {
                        color: $nav-link-hover;
                    }
                }
            }
        }
    }
}