<div ng-controller="ProjectsCtrl as vm" class="projects" layout="column" flex>
    <div class="header">
        <h1>Projects</h1>
    </div>
    <div layout="row" class="content-container" flex>
        <div class="content" flex>
            <md-toolbar layout="row">
                <md-button class="md-icon-button" ng-click="vm.toggleSidebar()" hide-gt-sm>
                    <md-icon>menu</md-icon>
                </md-button>
                <div class="search" layout="row" flex>
                    <md-button class="md-icon-button">
                        <md-icon>search</md-icon>
                    </md-button>
                    <input type="text" placeholder="Search" ng-model="search.name" flex>
                </div>
            </md-toolbar>
            <md-content class="md-whiteframe-z1">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="project in vm.projects | filter:search:strict" ui-sref="app.projects.show.general({projectId: project.id})" layout="column" layout-align="start center">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ project.name }}</h3>
                            <p>{{ project.completedTasks.length }} / {{ project.tasks.length }} Tasks Completed</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div class="sidebar">
            <md-button class="md-fab md-warn" ui-sref="app.projects.add">
                <md-icon>add</md-icon>
            </md-button>
            <md-sidenav class="module-sidebar" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="module-sidebar">
                <md-list>
                    <md-list-item md-ink-ripple-container>
                        <a ui-sref="app.projects" md-ink-ripple>
                            <md-icon>person</md-icon>
                            Some Link
                        </a>
                    </md-list-item>
                </md-list>
            </md-sidenav>
        </div>
    </div>
</div>
