<md-dialog flex="80" layout="column" aria-label="The information about this task.">
    <md-toolbar class="md-toolbar-tools" flex>
        <h2>Task: {{ vm.task.task }}</h2>
        <span flex></span>
        <md-button class="md-icon-button no-right-border" ng-click="vm.cancel()" type="button">
            <md-icon>close</md-icon>
        </md-button>
    </md-toolbar>
	<md-dialog-content>
        <md-content layout-padding>
            <div layout="row" layout-align="start center">
                <md-input-container class="md-block">
                    <label>Assigned Employee</label>
                    <md-select ng-model="vm.task.employee_id" aria-label="The assigned employee">
                        <md-option ng-repeat="employee in vm.employees" value="employee.id">
                            {{ employee.first_name }} {{ employee.last_name }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-datepicker ng-model="vm.task.due_at" md-placeholder="Due Date"></md-datepicker>
            </div>
        </md-content>
    </md-dialog-content>
</md-dialog>
