md-card {
    .md-header {
        padding: 16px;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .md-title {
            margin: 0;
            display: flex;
            align-items: center;
        }
    }

    &.quick-stat {
        .quick-stat-info {
            margin: 3px;
            font-size: 16px;
        }
    }
}
