<md-card layout="column">
    <div class="md-header" layout="row">
        <h2 class="md-title">Tasks</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.addTask($event)"><md-icon>add</md-icon></md-button>
    </div>
    <md-list>
        <md-list-item ng-repeat="task in project.tasks" class="md-2-line">
            <md-checkbox ng-model="task.complete"></md-checkbox>
            <div class="md-list-item-text">
                <h3>{{ task.task }}</h3>
                <p>Assignee: {{ vm.getNameFromUser(vm.getUserFromId(project.created_by)) }}</p>
            </div>
        </md-list-item>
    </md-list>
</md-card>
