<div class="auth-form">
    <div class="auth-form-container">
        <form autocomplete="off" ng-submit="vm.login()">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" ng-model="vm.user.username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" ng-model="vm.user.password" id="password">
            </div>
            <div class="form-group">
                <button class="button button-round button-block" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
