/*
 * Base
 */

$light-color: #4baed0;
$dark-color: #343f4b;

/*
 * Top Navigation
 */

$nav-height: 70px;
$logo-width: $nav-height;

$logo-background: darken($dark-color, 10%);

$nav-link: lighten($dark-color, 10%);
$nav-link-active: #e1e2e3;
$nav-link-hover: $nav-link-active;
$nav-link-space-between: 30px;